extends layout

block content
	#inset
		h1= job.name
		
		h2 About Us:
		p #{common.about}
		
		h2 Description:
		p #{job.description}
			
		h3 Specific job duties include:
		ul
			each duty in job.duties
				li #{duty}
			
		h3 Qualifications:
		h4 The successful candidate will possess the following combination of education and experience:
		ul
			each qualification in job.qualifications
				li #{qualification}
			
		h3 Preferred Skills:
		each skill in job.preferredSkills
			p #{skill}
				
		h3 Compliance
		each req in common.compliance
			p #{req}
		
		h2 How to Apply
		p Please send an email with your resume (in PDF format) to 
			a(href='mailto:hiring@siliconunited.com', title='Email us') hiring@siliconunited.com
		p If you are a qualified individual with a disability or a disabled veteran, you have the right to request a reasonable accommodation if you are unable or limited in your ability to use or access our website as a result of your disability. If you need an accommodation or assistance in using our website, please send an email to 
			a(href='mailto:support@siliconunited.com', title='Email support') support@siliconunited.com
			| . A representative will contact you regarding your accommodation request.
		each type in common.howToApply
			p #{type}
				
		br
		.info
			strong Seniority Level:
			| #{job.info.seniorityLevel}
			br
			strong Industry:
			| #{job.info.industry}
			br
			strong Employment Type: 
			| #{job.info.employmentType}
			br
			//- strong Job Functions:
			//- | #{job.info.jobFunctions}
			//- br
			strong Primary Location:
			| #{job.info.primaryLocation}
			br
		br
